.contant{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 4px solid ;
}

.div1{
    width: 50px;
    height: 50px;
    background-color:rgb(233, 106, 22);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
    font-weight: 500;
}

.div2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div3{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div4{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    background-color: blue;
    justify-content: center;
    color: white;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div5{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div6{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div7{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div8{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
}
.div9{
    width: 50px;
    height: 50px;
    background-color:rgb(233, 106, 22);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 30px;
    font-weight: 500;
}


/* 2 */

.contant2{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 4px solid ;
    background-color: rgb(56, 176, 176);
}
.con_in{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
}
.div11{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div12{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div13{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div14{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div15{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 100%;
    background-color: rgb(56, 176, 176);
    color: white;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div16{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div17{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}
.div18{
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}.div19{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.contant3{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
    border: 4px solid;
}