/* *{
    box-sizing: border-box;
} */

/* flex-container */
/* 
.content-box{
    height: 300px;
    width: 300px;
    border: 10px solid gold;
    padding: 20px;
    background-color: greenyellow;
    box-sizing: content-box;
}
.border-box{
    height: 300px;
    width: 300px;
    border: 10px solid gold;
    padding: 20px;
    background-color: greenyellow;
    box-sizing: border-box;
} */

/* 
flex-wrap:warp;
flex-wrap:nowrap;
flex-wrap:wrap-reverse;
flex-direaction:row;
flex-direaction:row-reverse;
flex-direaction:col;
flex-direaction:col-reverse;
align-self:start;
align-self:end;
align-self:center;
*/

.parent{
    /* width: 1000px; */
    background-color: gray;
    height: 600px;
    border: 2px solid black;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* flex-flow: wrap row-reverse; */
}

.child-1{
    height: 100px;
    width: 100px;
    background-color: purple;
    /* align-self: center; */
    /* align-self: flex-start; */
    /* align-self: flex-end; */
}
.child-2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    /* align-self: center; */
}
.child-3{
    height: 100px;
    width: 100px;
    background-color: orange;
    /* align-self: flex-end; */
}
.child-4{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.child-5{
    height: 100px;
    width: 100px;
    background-color: green;
}
.child-6{
    height: 100px;
    width: 100px;
    background-color: red;
}