
a:nth-last-of-type(5){
    color: red; 
    background-color: yellow;
} 
a:nth-of-type(4){
    color: red;
    background-color: yellow;
}
.h1{
    color: red;
    background-color: yellow;
}
input{
    color: red;
    background-color: yellow;
}
h1:nth-child(6){
    color: red;
    background-color: yellow;
} 

h1:only-of-type{
    color: red;
    background-color: yellow;
}
p:last-child{
    color: red;
    background-color: yellow;
}
h1:nth-child(6){
    color: red;
    background-color: yellow;
}

body>h1:nth-of-type(2){
    color: red;
    background-color: yellow;
}
div>.heading:nth-of-type(1){
    color: red;
    background-color: yellow;
}
body>h1:nth-last-child(3){
    color: red;
    background-color: yellow;
}
body>h1:nth-last-child(6){
    color: red;
    background-color: yellow;
}
body>div>div>:nth-child(1){
    color: red;
    background-color: yellow;
}
.head{
    color: red;
    background-color: yellow;
}
body>h1:nth-child(14)
 {
    color: red;
    background-color: yellow;
}
span>section>h1:nth-last-child(1)
 {
    color: red;
    background-color: yellow;
}