*{
    margin: 0px;
    padding: 0px;
}
.parent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 190px 190px 111px ;
    gap: 5px;
}
.box-1{
    background-color: pink;
}
.box-2{
    background-color: pink;
}
.box-3{
    background-color: pink;
}
.box-4{
    background-color: pink;
}
.box-5{
    grid-row: 2/4;
    background-color: rgb(133, 243, 219);
}
.box-6{
    background-color: #c78bf0;
}
.box-7{
    background-color: #c78bf0;
}
.box-8{
    background-color: #c78bf0;
}
.box-9{
    grid-column: 2/5;
    background-color: rgb(118, 187, 118);
}
/* .box-10{
    background-color: #b3d2ff;
} */
/* .box-11{
    background-color: #b3d2ff;
} */
.box-12{
    background-color: #b3d2ff;
}
.box-13{
    background-color: #b3d2ff;
}
.box-14{
    background-color: #b3d2ff;
}
.box-15{
    background-color: #b3d2ff;
}
/* .box-16{
    background-color: #b3d2ff;
} */