*{
    margin: 0px;
    padding: 0px;
}
.content{
    display: grid;
    width: 100%;
    /* background-color: aquamarine; */
    /* gap: 10px; */
    overflow: hidden;
}

.box1{
    background-color: rgb(118, 200, 200);
    background-image: linear-gradient(to bottom right, blue, pink);
    width: 100%;
    /* height: 1000px; */
    height: 100svh;
    display: flex;
    /* overflow: hidden; */
}
.box2{
    background-color: white;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-left: -40px;
}
/* .box2:hover{
    .box2-1{
        transform: translateX(200px);
        transition: 2s;
    }
    .box2-2{
        transform: translateX(-200px);
        transition: 2s;
    }
} */

.box2-1{
    animation-duration: 2s;
    animation-name: slide1;
    animation-fill-mode: forwards;
}  

.box2-2{
    animation-duration: 2s;
    animation-name: slide2;
    animation-fill-mode: forwards;
}

@keyframes slide1{
    from{
        transform: translate(-1100px);
    }
    to{
        transform: translate(50px);
    }
}

@keyframes slide2{
    from{
        transform: translate(1100px);
    }
    to{
        transform: translate(200px);
    }
}

.header{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100px;
    background-color:color(from color srgb r g b);
    align-items: center;
    margin-top: 20px;
    position: fixed;
    z-index: 2;
}

.ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    margin-right: 20px;
    margin-left: 60px;
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.button{
    border-radius: 30px;
    padding: 20px;
    color: white;
    margin-right: 200px;
    margin-left: 10px;
    background-color:transparent;
    border-color: white;
    font-size: 20px;
}
#fb{
    color: white;
    margin-right: 20px;
    font-size: 20px;
}
#ins{
    color: white;
    margin-right: 20px;
    font-size: 20px;
}
#tw{
    color: white;
    margin-right: 70px;
    font-size: 20px;
}
.megaOne{
    margin-right: 170px;
    margin-left: 100px;
    font-size:40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#menu{
    color: white;
    font-size: 40px;
    margin-right: 150px;
}
.box1-1{
    width: 500px;
    height: 500px;
    border-radius: 80px;
    transform: rotate(30deg);
    margin-left: -60px;
    margin-top: -90px;
    /* position: absolute; */
    /* z-index: 1; */
    background-color: rgb(9, 180, 247);
}
.box1-3{
    width: 500px;
    height: 500px;
    background-color: rgb(239, 39, 139);
    border-radius: 100%;
}
.img{
    margin-top: 170px;
    margin-left: 70px;
    margin-right: 40px;
    border-radius: 50px;
}
.img:hover{
    transform: scale(0.8);
    transition: 2s;
}
.box1-2{
    width: 600px;
    height: 400px;
    background-color:color(from color srgb r g b);
    margin-top: 300px;
}
.img-c{
    margin-left: -230px;
    /* position: fixed; */
}
.span{
    font-size: 64px;
    color: rgb(235, 21, 170);
    font-family: Roboto, sans-serif;
   line-height: 64px;
}
.span2
{
    font-size: 80px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: white;
}
.ddt21{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 150px;
}

.ddt{
    font-size: 50px;
    color: white;
    margin-top: 80px;
}
.ddt3{
    font-size: 50px;
    color: white;
    margin-top: 80px;
    margin-top: 35px;
}
.qwe{
    margin-top: 20px;
    font-weight: 100;
}
.button{
    padding: 15px;
    font-size: 15px;
    border: 2px solid white;
}
.button2{
    border-radius: 35px;
    padding: 10px;
    font-size: 20px;
    padding: 20px;
    color: white;
    border: none;
    width: 200px;
    background-color: rgb(9, 180, 247);
}
.box17{
    width: 200px;
    height: 500px;
    margin-top: 300px;
    margin-left: 326px;
}

.button2:hover{
    color: black;
    background-color: white;
    transition-duration: 2s;
}

.box2-1{
    height: 70%;
    width: 30%;
    background-color:white;
    margin-top: 150px;
    margin-left: -300px;
    margin-right: -100px;
}
.box2-2{
    height: 70%;
    width: 30%;
    background-color:white;
}
.box2-text{
    font-size: 30px;
}
.img2{
    height: 700px;
    width: 620px;
}
.change{
    color: skyblue;
}
.change:hover{
    color: blue;
}

.letter{
    font-size: 50px;
    font-family:Montserrat, sans-serif;
    font-weight: 400;
}
.p{
    font-size: 20px;
    /* overflow-wrap: break-word; */
}
.bt{
    font-size: 20px;
    width: 170px;
    padding: 15px;
    background-color: rgb(231, 27, 122);
    color: white;
    border-radius: 25px;
}
.bt:hover{
   background-color: skyblue;
    transition-duration: 1s;
}
.box3{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content:center;
    margin-left: -70px;
}
.box3-1{
    height: 100%;
    width: 300px;
    background-color:white;
    margin-right: 15px;
}
.box3-2{
    height: 100%;
    width: 300px;
    background-color: white;
    margin-right: 15px;

}
.box3-3{
    height: 100%;
    width: 300px;
    background-color: white;
    margin-right: 15px;

}
.box3-4{
    height: 100%;
    width: 300px;
    background-color:white;
}
.f1{
    width: 100px;
    height: 100px;
    background-color: rgb(44, 176, 252);
    margin-left: 75px;
    margin-top: 20px;
    border-radius: 100%;
}
.f2{
    width: 100px;
    height: 100px;
    background-color: rgb(107, 107, 129);
    margin-left: 75px;
    margin-top: 20px;
    border-radius: 100%;
}
.f3{
    width: 100px;
    height: 100px;
    background-color: rgb(63, 63, 175);
    margin-left: 75px;
    margin-top: 20px;
    border-radius: 100%;
}
.f4{
    width: 100px;
    height: 100px;
    background-color: rgb(203, 85, 203);
    margin-left: 75px;
    margin-top: 20px;
    border-radius: 100%;
}
#folder{
    size: 30px;
    color: white;
    margin-left: 28px;
    margin-top: 30px;
    font-size: 40px;
}
.p31{
    font-size: 30px;
    text-align: center;
}
.box4{
    width: 100%;
    height: 730px;
    background-image: linear-gradient(to bottom right, blue,rgb(50, 175, 212));
    justify-content: center;
    display: flex;
}
.box4-1{
    width: 30%;
    height: 100%;
    align-items: center;
    margin-left: -180px;
    background-color:color(from color srgb r g b);
}
.box4-2{
    width: 30%;
    height: 580px;
    justify-content: center;
    background-color:color(from color srgb r g b);
    padding-top: 150px;
}
.img3{
    height: 700px;
    width: 550px;
    margin-top: 50px;
}
.h1{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.p4{
    font-size: 20px;
    color: white;
}
.box4-text{
    font-size: 30px;
    color: white;
}
.box5{
    width: 100%;
    height: 270px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: -120px;
    
}
.pre{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.box5-h1{
    font-family: 'Montserrat', sans-serif;
}
.pre2{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
.box6{
    background-color: white;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.box6-1{
    background-color: white;
    width: 300px;
    height: 100%;
    margin-left: -200px;
    text-align: center;
 
}
.box6-1:hover{
    .b611{
        transform: scale(1.1);
        transition-duration: 1s;
    }
    .devid{
        background-image: url("assets/asset\ 13.png");
        background-repeat: no-repeat;
        margin-right: 20px;
        color: white;
    }
}
.box6-2{
    background-color: white;
    width: 300px;
    height: 100%;
    text-align: center;
}
.box6-2:hover{
    .b611{
        transform: scale(1.1    );
        transition-duration: 1s;
    }
    .devid{
        background-image: url("assets/asset\ 15.png");
        background-repeat: no-repeat;
        margin-right: 20px;
        color: white;
    }
}
.box6-3{
    background-color: white;
    width: 300px;
    height: 100%;
    text-align: center;
}
.box6-3:hover{
    .b611{
        transform: scale(1.1);
        transition-duration: 1s;
    }
    .devid{
        background-image: url("assets/asset\ 17.png");
        background-repeat: no-repeat;
        margin-right: 20px;
        color: white;
    }
}
.sp{
    color:skyblue;
}
.b611{
    color:skyblue;
    max-width: 140%;
    max-height: 50%;
    margin-left: 30px;
    margin-top: 10px;
}
.devid{
    font-family: 'Montserrat', sans-serif;
    color: #404854;
    margin-left: 30px;
    font-size: 30px;
}
.p-tag{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
#fb-1{
    margin-right: 30px;
    margin-left: 30px;
}
#in-1{
    margin-right: 30px;
}
.box-7{
    width: 100%;
    height: 550px;
    background-color: rgb(253, 241, 241);
    display: flex;
    gap: 10px;
    margin-left: -70px;
    justify-content: center;
}
.box71{
    width: 700px;
    height: 100%;
    background-color: rgb(253, 241, 241);
}
.box72{
    width: 700px;
    height: 100%;
    background-color: rgb(253, 241, 241);
}
.h27{
    font-size: 38px;
    font-weight: 400;
    overflow-wrap: break-word;
    margin-top: 30px;
}
.h17{
    font-size: 70px;
    font-weight: 600;
    margin: 15px 0 25px;
}
.sp7{
    color: rgb(233, 45, 170);
}
.b7p1{
    font-size: 25px;
    font-weight: 400;
}
.b71{
    background-color: skyblue;
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}
.b71:hover{
    background-color:rgb(218, 19, 168);
    transition-duration: 1s;
}
#img7b7{
    height: 100%;
    width: 100%;
}
.box8{
    width: 100%;
    height: 400px;
    display:flex;
    background-color: white;
    justify-content: center;
}
.box81{
    width: 50%;
    height: 400px;
    background-color: white;
    margin-left: -250px;
    text-align: center;
}
.box8h3{
    font-size: 25px;
    font-weight: 400;
    font-family: montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box8h1{
    font-size: 45px;
    font-weight: 400;
    font-family: montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box8s{
    color: rgb(17, 124, 167);
}
.b8p1{
    font-size: 20px;
}
#aio{
    width: 65%;
    height: 1000px;
    margin-left: -200px;
}
.img_aio{
    width: 100%;
    height: 1150px;
    text-align: center;
    background-color: white;
}
.box9{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to bottom right, rgb(64, 64, 238), rgb(106, 68, 144));
    display: flex;
    /* margin-left: 40px; */
    gap: 5px;
    justify-content: center;
}
.box91{
    height: 100%;
    width: 400px;
    background-color: color(from color srgb r g b);
    padding-top: 150px;
    margin-left: -210px;
    padding-left: 50px
}
.box92{
    height: 100%;
    width:40%;
    background-color: color(from color srgb r g b);
    text-align: center;
}
.box93{
    height: 100%;
    width:400px;
    background-color: color(from color srgb r g b);
    padding-top: 150px;
    padding-left: 50px
}
.img-b81{
    width: 100px;
    height: 100px;
    outline: 2px solid white;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left: -40px;
}
.img-b82{
    width: 100px;
    height: 100px;
    outline: 2px solid white;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left:200px;
    margin-top: -40px;
}
.img-b83{
    width: 100px;
    height: 100px;
    outline: 2px solid white;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left:30px;
    margin-top: 50px;
}
.img-b84{
    width: 100px;
    height: 100px;
    outline: 2px solid white;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left: 220px;
}
.box92h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 130px;
    color: white;
}
.para92{
    font-style: italic;
    font-size: 25px;
    color: white;
}
.h2b92{
    color: rgb(220, 22, 134);
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
.h4b92{
    color: white;
    margin-top: 10px;
    font-size: 20px;
}
#star{
    color: gold;
}
.b9m1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
}
.b9m2{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left: 250px;
    margin-top: -30px;
}
.b9m3{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-left: 80px;
}
.b9m4{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 80px;
    margin-left: -50px;
}
.box10{
    width: 100%;
    height: 350px;
    background-color:white;
    text-align: center;
    margin-left: -100px;
}
.box10h2{
    margin-top: 80px;
    font-size: 30px;
    font-weight: 400;
}
.b10h1{
    font-size: 60px;
    font-weight: 600;
    
}
.bhs{
    color: rgb(41, 175, 227);
}
.box11{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: whitesmoke;
}
.box111{
    height: 100%;
    width: 450px;
    background-color: rgb(243, 238, 229);
    border-radius: 45px 45px 0px 0px;
    margin-left: -170px;
}
.box111:hover{
    transform: scale(1.01);
}
.box112{
    height: 100%;
    width: 450px;
    background-color:rgb(243, 238, 229);
    border-radius: 45px 45px 0px 0px;
}
.box112:hover{
    transform: scale(1.01);
}
.box113{
    height: 100%;
    width: 450px;
    background-color: rgb(243, 238, 229);
    border-radius: 45px 45px 0px 0px;
}
.box113:hover{
    transform: scale(1.01);
}
#imgb11{
    height: 45%;
    width: 450px;
    border-radius: 45px 45px 0px 0px;
}
.b1113{
    color: violet;
    margin-top: 30px;
    margin-left: 30px;
}
.b111h3h1{
    margin-left: 30px;
    margin-top: 10px;
}
.p1234{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
}
#img27{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.cli{
    width: 100px;
    height: 100px;
    background-color: rgb(21, 116, 233);
    border-radius: 100%;
    margin-left: 30px;
}
.hena{
    margin-left: 150px;
    margin-top: -70px;
    font-family: montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.box12{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: rgb(24, 174, 233);
    margin-left: -100px;
}
.envato{
    width: 150px;
    height: 50px;
    margin: 60px;
    margin-top: 100px;
}
.box13{
  text-align: center;
  width: 100%;
  height: 500px;
  background-color: white;
  margin-left: -100px;
}

.box13 iframe{
    width: 60%;
    height: 600px;
    margin-top: -200px;
}
.box14{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}
.box14-1{
    height: 100%;
    width: 30%;
    background-color:white;
}
.box14-2{
    height: 100%;
    width: 30%;
    /* background-color: chartreuse; */
}
.b14h1{
    font-size: 40px;
    font-weight: 500;
    font-family: montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}
.i3{
    width: 280px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
}
input::placeholder{
    font-size: 20px;
    padding:   20px;
}
.i3m{
    width: 280px;
    height: 175px;
    margin-top: 130px;
    margin-left: 10px;
    border-radius: 10px;
}
.box14-A{
    width: 100%;
    height: 80%;
    display: flex;
}
.box14-B{
    width: 100%;
    height: 20%;
}
.box14-A1{
    width: 50%;
    height: 100%;
}
.box14-A2{
    width: 50%;
    height: 100%;
}
.b14b1{
    width: 550px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    font-size:25px;
    font-weight: 100;
}
.b14h11{
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    
}
.p90{
    font-size: 20px;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 80px;
}
#loc{
    margin-left: 80px;
    color:rgb(62, 29, 224);
    font-size: 30px;
    margin-top: 10px;
}
.p91{
    font-size: 20px;
    font-weight: 100;
    margin-left: 130px;
    margin-top: -30px;
}
#tf1{
    margin-left: 80px;
    color:rgb(62, 29, 224);
    font-size: 30px;
    margin-top: 15px;
}
.pren{
    font-size: 20px;
    font-weight: 100;
    margin-left: 130px;
    margin-top: -30px;
}
#plane{
    margin-left: 80px;
    color:rgb(62, 29, 224);
    font-size: 30px;
    margin-top: 15px;
}
#aw1{
    font-size: 20px;
    font-weight: 100;
    margin-left: 20px;
    margin-top: -30px;
    text-decoration: none;
}
#aw2{
    font-size: 20px;
    font-weight: 100;
    margin-left: 30px;
    margin-top: -30px;
    text-decoration: none;
}
.box15{
    width: 100%;
    height: 200px;
    /* background-color: burlywood; */
    display: flex;
    justify-content:center;
}
.box15-A{
    width: 600px;
    height: 100%;
    /* background-color: cadetblue; */
    padding-top: 100px;
    margin-left: 40px;
}
.box15-B{
    width: 600px;
    height: 100%;
    /* background-color: rgb(174, 165, 41); */
    padding-top: 100px;
}
#footer{
    margin-right: 30px;
    font-size: 25px;
}
.b101{
    font-size: 20px;
    margin-left: 150px;
}

@media (max-width : 425px) {
    .header {
        visibility: hidden;
    }
    .box1-1 {
        visibility: hidden;
    }
    .img-c{
        visibility: hidden;
    }
    .box1{
        max-width: 425px;
        max-width: calc(100vw - 0vw);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1-2{
        width: 320px;
        position: absolute;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
    }
    .div-p{
        padding: 20px;
        margin-top: -40px;
    }
    .img{
        visibility: hidden;
    }
    .span{
        font-size: 40px;
        margin-bottom: -30px;
    }
    .span2{
        font-size: 30px;
    }
    .text {
        font-size: 15px;
        line-height: 25px;
    }
    .button2 {
        width: 150px;
        font-size: 15px;
        padding: 15px;
        margin-top: -40px;
    }
 }

 @media (min-width : 426px) and (max-width : 768px) {
    .header {
        visibility: hidden;
    }
    .box1-1 {
        visibility: hidden;
    }
    .img-c{
        visibility: hidden;
    }
    .box1{
        max-width: 768px;
        max-width: calc(100vw - 0vw);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1-2{
        max-width: 620px;
        max-width: calc(100vw - 10vw);
        position: absolute;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
    }
    .div-p{
        padding: 20px;
        margin-top: -40px;
        margin-left: 40px;
    }
    .img{
        visibility: hidden;
    }
    .span{
        font-size: 50px;
        margin-bottom: -30px;
    }
    .span2{
        font-size: 40px;
    }
    .text {
        font-size: 20px;
        line-height: 35px;

    }
    .button2 {
        width: 150px;
        font-size: 15px;
        padding: 15px;
        margin-top: -40px;
    }
 }

 @media (min-width : 769px) and (max-width : 992px) {
    .header {
        visibility: hidden;
    }
    .box1-1 {
        visibility: hidden;
    }
    .box17 {
        visibility: hidden;
    }
    .img {
        margin-top: 0px;
        margin-left: -300px;
        margin-left: calc(-300px - 50px);
        margin-right: 0px;
        border-radius: 0px;
        width: 300px;
        height: 400px;
        margin-top: 100px;
    }
    .span {
        font-size: 50px;
    }

    .span2 {
        font-size: 40px;
    }
    .box1-2 {
        margin-top:150px;
        width: 400px;
        margin-left: -50px;
    }
    .text {
        font-size: 15px;
        line-height: 25px;
    }
 }

@media (min-width : 993px) and (max-width : 1024px) {
    .megaOne{
        margin-right:0%;
        margin-left: 0%;
        font-size: 30px;
    }
    .button {
        margin-right: -100px;
    }
    #fb {
        visibility: hidden;
    }
    #ins{
        visibility: hidden;
    }
    #tw{
        visibility: hidden;
    }
    .box1-1 {
        visibility: hidden;
    }
    .box17 {
        visibility: hidden;
    }
    #menu {
        visibility: hidden;
    }
    li {
        width: 80px;
    }
    .img {
        margin-top: 0px;
        margin-left: -200px;
        margin-left: calc(-200px - 50px);
        margin-right: 0px;
        border-radius: 0px;
        max-width: 300px;
        height: 400px;
        margin-top: 100px;
    }
    .span {
        font-size: 50px;
    }

    .span2 {
        font-size: 40px;
    }
    .box1-2 {
        margin-top:150px;
        width: 400px;
    }
    .text {
        font-size: 15px;
        line-height: 25px;
    }
 }

@media(min-width : 1025px) and (max-width : 1440px) {
    .megaOne{
        margin-right:0%;
        margin-left: 0%;
    }
    .button {
        margin-right: -100px;
    }
    #fb {
        visibility: hidden;
    }
    #ins{
        visibility: hidden;
    }
    #tw{
        visibility: hidden;
    }
    .box1-1 {
        width: 300px;
        height: 300px;
    }
    .box17 {
        visibility: hidden;
    }
    #menu {
        visibility: hidden;
    }
    li {
        width: 80px;
    }
    .img {
        /* margin-left: 100px; */
       margin-left: 80px;
        margin-right: 0px;
        border-radius: 0px;
        max-width: 300px;
        height: 400px;
        margin-top: 100px;
    }
    .span {
        font-size: 50px;
    }

    .span2 {
        font-size: 40px;
    }
    .box1-2 {
        margin-top:150px;
        width: 400px;
    }
    .text {
        font-size: 15px;
        line-height: 25px;
    }
} 

/* @media (min-width : 1441px) and (max-width : 2560px) {
    .img{
        margin-left: 400px;
        margin-top: 300px;
    }
    .box1-2{
        margin-top: 400px;
    }
    .img-c {
        margin-left: 100px;
        margin-top: 200px;
    }
} */